{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     
  
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>Dietopedia</title>
    <link href="{% static '/Landing/ndini.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <script src="{% static 'landing.js' %}"></script>
    <div class="haree">
      
      <a id="lahai" href="../log/signup" style="cursor: pointer;color: white;">Sign Up</a>
      
      <a id="khai" href="../log/signin" style="cursor: pointer;color: white;">Sign In</a>
      
    </div>
   
    <input type="checkbox" id="click">
      <label class="plan" for="click" >
        <ul class="titlee">PLANS</ul>
  
      </label>
      

      <label class="content" for="click">
        <div class="header" >
          <ul class="titlee">PLANS</ul>
          <div class="box">
          </div>
          <div class="box1">
          </div>
          
         
        </div>
        
      </label>

    <input type="checkbox" id="clic">
      <label class="calculator" for="clic" >
        <ul >CALCULATOR</ul>
  
      </label>

      <label class="con" for="clic">
        <div class="header1" >
          <ul class="titlee">CALCULATOR</ul>
          <div class="detail">
            
            <!-- <div class="cube1"></div>
            <div class="cube"></div>
            <div class="cube2">
              <p>18</p>
            </div>
            <div class="cube3">
              <p>74</p>
            </div>
            <div class="cube4">
              <p>5'4</p>
            </div> -->
            <script type="text/javascript">
            function BMR() {
              var bmr;
              var h=document.getElementById('heig').value;
              var w=document.getElementById('weiko').value;
              var a=document.getElementById('ageee').value;
              var g=document.getElementById('gen').value;
              
              if (g=="1"){
               bmr =66+(6.23*w)+(12.7*h)-(6.8*a);
              
              }
              else if (g=="2"){
                 bmr =655+(4.35*w)+(4.7*h)-(4.7*a);
                 
              }
        
                var bmro=bmr.toFixed(2);
              document.getElementById("result").innerHTML="Your BMR is " + bmro;
          
            }
           
          </script>
          
            <div class="lalaa">
              <ul class="todo-list">
              <select class="form-control inp" id="gender" name='gen'>
                  <option id="gen" value="1" style="color:black;">Male</option>
                  <option id="gen" value="2" style="color:black;">Female</option>
              </select>

          </ul>

            </ul>
              
            </div>
            
              
              
            </div>
            <form action="" class="fumm"> 
              <div>
                <label for="">AGE</label>
                <input type="text" class ="ageee" id="ageee">
             </div>
              <div>
                <label for="">WEIGHT</label>
                <input type="text" class="weiko"  id="weiko">

              </div>
              <div>
                <label for="">HEIGHT</label>
                <input type="text" class="heig" id="heig">
               
              </div>
              
              
              <!-- Button trigger modal -->
              <button type="button" onclick="BMR()" class="btn btn-primary" >
                
                Calculate BMR
                
              </button>
              <p id = "result"></p>
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body"></div>
                
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>


            </form>
            
          </div>
         
        </div>

      

   
  
    
  

  </body>
</html>
