{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     
  
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>repl.it</title>
    <link href="{% static '/Landing/ndini.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="haree">
      
      <a id="lahai" href="../log/signup" style="cursor: pointer;color: white;">Sign Up</a>
      
      <a id="khai" href="../log/signin" style="cursor: pointer;color: white;">Sign In</a>
      
    </div>
   
    <input type="checkbox" id="click">
      <label class="plan" for="click" >
        <ul class="titlee">PLANS</ul>
  
      </label>
      

      <label class="content" for="click">
        <div class="header" >
          <ul class="titlee">PLANS</ul>
          <div class="box">
          </div>
          <div class="box1">
          </div>
          
         
        </div>
        
      </label>

    <input type="checkbox" id="clic">
      <label class="calculator" for="clic" >
        <ul >CALCULATOR</ul>
  
      </label>

      <label class="con" for="clic">
        <div class="header1" >
          <ul class="titlee">CALCULATOR</ul>
          <div class="detail">
            
            <!-- <div class="cube1"></div>
            <div class="cube"></div>
            <div class="cube2">
              <p>18</p>
            </div>
            <div class="cube3">
              <p>74</p>
            </div>
            <div class="cube4">
              <p>5'4</p>
            </div> -->
            <div class="lalaa">
              <ul>GENDER</ul>
              <input type="checkbox" id="gen">
                <label class="blen" for="gen">
                  <p>MALE</p>
                </label>
                <label class="blen2" for="gen">
                  <div class="lee"></div>
                  <p id="b2">FEMALE</p>
                </label>
              
            </div>
            
              
              
            </div>
            <form action="" class="fumm"> 
              <div>
                <label for="">AGE</label>
                <input type="text" class="ageee">
             </div>
              <div>
                <label for="">WEIGHT</label>
                <input type="text" class="weiko">

              </div>
              <div>
                <label for="">HEIGHT</label>
                <input type="text" class="heig">
              </div>
              
              <button class="butto">CALCULATE</button>

            </form>
            
          </div>
         
        </div>

      

   
  
    
  

  </body>
</html>
