{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN UP</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'Signup/signup.css'%}">



    <link rel="stylesheet" href="{% static 'Website_all/assets/css/font-icons/entypo/css/entypo.css' %}">
    <link rel="stylesheet"
        href="{% static 'Website_all/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css' %}">
    <link rel="stylesheet" href="{% static '//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic' %}">
    <link rel="stylesheet" href="{% static 'Website_all/assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Website_all/assets/css/neon-core.css' %}">
    <link rel="stylesheet" href="{% static 'Website_all/assets/css/neon-theme.css' %}">
    <link rel="stylesheet" href="{% static 'Website_all/assets/css/neon-forms.css' %}">
    <link rel="stylesheet" href="{% static 'Website_all/assets/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'Website_all/assets/css/skins/green.css' %}">

    <script src="{% static 'Website_all/assets/js/jquery-1.11.3.min.js' %}"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row bg">
            <div class="col-md-4 col-sm-2 col-xs-12"></div>
            <div class="col-md-4 col-sm-8 col-xs-12">
                <form class="form-container" action="" method="POST">
                    {% csrf_token %}
                    <center>
                        <h2>SIGN UP</h2>
                    </center>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-2 names">
                            <label for="uname">Username</label>
                            <input type="text" class="form-control" name="uname" placeholder="Username">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-2 names">
                            <label for="fname">First name</label>
                            <input type="text" class="form-control" name="fname" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:90px;">
                        <div class="col-md-6 col-sm-6 col-xs-2 names">
                            <label for="gender" ">Gender</label>
                        <select class=" form-control inp" name="gender">
                                <option value="Male" style="color:black;">Male</option>
                                <option value="Female" style="color:black;">Female</option>
                                <option value="Other" style="color:black;">Other</option>
                                </select>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-2 names">
                            <label for="age">Age</label>
                            <input type="number" class="form-control" name="age" placeholder="Age">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group aftername" style="margin-top:180px;">
                            <label for="email">E-mail Address</label>
                            <input type="text" class="form-control" name="email" data-validate="email"
                                placeholder="Email Field" />
                        </div>
                    </div>
                    <div class="form-group aftername">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="form-group aftername">
                        <label for="cpassword">Confirm Password</label>
                        <input type="password" class="form-control" name="cpassword" placeholder="Confirm Password">
                    </div>
                    <div>{% for messages in messages %}
                        <h5 style="color: red;margin-left: 20%;">{{messages}}</h5>
                        {% endfor %}</div>


                    <div>{% for messages in messages %}
                        <h5 style="color: greenyellow;margin-left: 40%;">{{message}}</h5>
                        {% endfor %}</div>

                    <div class="col-md-6 col-sm-6 col-xs-2 names">
                        <label for="dietitian" >Are you a dietician</label>
                        <select class=" form-control inp" name="dietitian">
                            <option value="Yes" style="color:black;">Yes</option>
                            <option value="No" style="color:black;">No</option>
                            </select>
                    </div>






                    <div class="form-group aftername">
                        <input type="submit" class="btn btn-success btn-block">
                    </div>


                </form>
            </div>
            <div class="col-md-4 col-sm-2 col-xs-12"></div>
        </div>
    </div>
</body>
<script src="{% static 'Website_all/assets/js/bootstrap-switch.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'Website_all/assets/js/jvectormap/jquery-jvectormap-1.2.2.css' %}">
<link rel="stylesheet" href="{% static 'Website_all/assets/js/rickshaw/rickshaw.min.css' %}">

<!-- Bottom scripts (common) -->
<script src="{% static 'Website_all/assets/js/gsap/TweenMax.min.js' %}"></script>
<script src="{% static 'Website_all/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js' %}"></script>
<script src="{% static 'Website_all/assets/js/bootstrap.js' %}"></script>
<script src="{% static 'Website_all/assets/js/joinable.js' %}"></script>
<script src="{% static 'Website_all/assets/js/resizeable.js' %}"></script>
<script src="{% static 'Website_all/assets/js/neon-api.js' %}"></script>
<script src="{% static 'Website_all/assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>


<!-- Imported scripts on this page -->
<script src="{% static 'Website_all/assets/js/jvectormap/jquery-jvectormap-europe-merc-en.js' %}"></script>
<script src="{% static 'Website_all/assets/js/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'Website_all/assets/js/rickshaw/vendor/d3.v3.js' %}"></script>
<script src="{% static 'Website_all/assets/js/rickshaw/rickshaw.min.js' %}"></script>
<script src="{% static 'Website_all/assets/js/raphael-min.js' %}"></script>
<script src="{% static 'Website_all/assets/js/morris.min.js' %}"></script>
<script src="{% static 'Website_all/assets/assets/js/toastr.js' %}"></script>
<script src="{% static 'Website_all/assets/js/neon-chat.jss' %}"></script>


<!-- JavaScripts initializations and stuff -->
<script src="{% static 'Website_all/assets/js/neon-custom.js' %}"></script>


<!-- Demo Settings -->
<script src="{% static 'Website_all/assets/js/neon-demo.js' %}"></script>

</html>